body { 
	padding: 9px 0 40px 0;
	background: white;
	color: #1E1E1E;
	font: 11px/1.65 Verdana,sans-serif;
}
/* TEXT */
input[type='password'],
input[type='text'],
input[type='url']{
  -webkit-border-radius: 2px;
  border: 1px solid #aaa;
  font-size: inherit;
  padding: 3px;
}

/* MAIN LAYOUT */

#page {
	display:none;
}
#page-con {
	width: 1000px;
	margin: 0px auto 0;
	position: relative;
	z-index: 1;
}
#page-hdr {
	background: transparent url(../img/page-hdr.png) no-repeat 0px 0;
	width: 1000px;
	margin: 0 auto;
	height: 39px;
	position: relative;
	z-index:4;
}
#page-hdr .donate {
	float:right;
	margin: 10px 20px 0 0;
}
#page-hdr .donate a {
	color:#000000;
}
#page-con-hdr {
	background: url(../img/page-con-bg.png) -1009px 0 no-repeat;
	width: 1000px;
	position: relative;
	z-index: 3;
	float: left;
}
#page-con-hdr .box {
	margin: 17px 18px 0;
	border: 0;
	position: relative;
	zoom: 1;
}
#page-con-hdr .border {
	border-bottom-width: 0 !important;
}
#page-con-hdr .box {
	margin: 17px 18px 0;
	border: 0;
	position: relative;
	zoom: 1;
}
#page-con-hdr .box::after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#page-con-hdr .box-con-bg {
	z-index: -1;
}
.box-con-bg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.border, .bg {
	position: absolute;
	width: 990px;
	top: 5px;
	left: 5px;
	bottom: 0;
	z-index: -1;
}
.bg {
	z-index: -2;
}
#page-con-body {
	position: relative;
	z-index: 2;
	width: 990px;
	padding: 12px 5px 0;
	clear: both;
	background: url(../img/page-con-bg.png) 0 0 repeat-y;
	zoom: 1;
}
#page-con-body::after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#page-con-body .border {
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
}
.wrapper {
	margin: 0;
	padding: 0 0 0 11px;
}
.w4 .s1 {
	width: 968px;
}
.w8 .s1 {
width: 656px;
margin-right: 12px;
}
.w8 .s2 {
width: 300px;
}
.box {
	background: url(../img/nixel.gif);
	border: 1px solid #C9DAEC;
	clear: both;
	margin:0 0 12px;
}
.unit {
	float: left;
}
.unit-bd {
	margin-right: 12px;
}
.box-hdr {
	border-bottom: 1px solid #BDD5EF;
	background: url(../img/box.png) 0 -400px no-repeat;
	position: relative;
	margin: -1px -1px 0;
}
.box-hdr-bg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.p10 {
	width: 10%;
}
.p20 {
	width: 20%;
}
.p30 {
	width: 30%;
}
.p40 {
	width: 40%;
}
.p50 {
	width: 50%;
}
.p60 {
	width: 60%;
}
.p70 {
	width: 70%;
}
.p80 {
	width: 80%;
}
.p100 {
	width: 100%;
}
.box-hdr-inner {
	zoom: 1;
	background: url(../img/box.png) 100% 0 no-repeat;
}
.box-hdr-inner::after {
	content: "";
	display: block;
	clear: both;
}
#page-con-ftr {
	clear: both;
	padding: 0 6px;
	position: relative;
	padding: 0 6px;
	width:990px;
	height:25px;
	background: url(../img/page-con-bg.png) -1009px -590px no-repeat;
}
#page-con-ftr .border {
	border-top-width: 0 !important;
	height: 15px;
}
#page-con-ftr .bg {
	height: 15px;
}
.bottom-inline-block {
	display:inline-block;
	zoom: 1;
	vertical-align: bottom;
}
.box-con {
	position: relative;
	z-index: 0;
	padding: 12px;
	font-size: 12px;
	line-height: 1.5;
	zoom: 1;
	font-size: 12px;
	line-height: 1.5;
}
.box-con::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.box-con-bg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.box-con-inner {
	position: relative;
	z-index: 1;
	zoom: 1;
}
.box-hdr h2, .box-hdr h3, .meta-box-hdr h2, .meta-box-hdr h3 {
	float: left;
	font-size: 13px;
	line-height: 1.38;
	color: #243C53;
	padding: 6px 12px 4px 9px;
	min-height: 17px;
	zoom: 1;
}
.box-con-inner  .line {
	margin: 0 0 12px;
}
.line::before, .line::after {
	content: "";
	display: table;
}
.line::after {
	clear: both;
}
.line::before, .line::after {
	content: "";
	display: table;
}
#page-ftr {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
}
#page-ftr .line {
	padding: 0 0 0 15px;
}
#page-ftr .line1 {
	padding: 0 0 0 45px;
	margin:5px auto;
}
#wrapper_photo_upload textarea {
	width: 300px;
	height: 120px;
	border: 2px solid #cccccc;
	padding: 5px;
	font-family: "Trebuchet MS",sans-serif;
}
#wrapper_photo_upload li {
	margin: 6px 0 6px 0;
}
#wrapper_photo_upload  ol, #wrapper_photo_upload  ul {
	list-style: none;
}
#wrapper_photo_upload #uploaded_image {
	margin:0 10px 15px 0;
}
#wrapper_photo_upload h2 {
	margin:10px 0 15px 0;
}
#versions li {
	margin-left:20px;
}
#versions h2, #versions h3, #versions h4 {
	margin:10px 0 10px 0;
}
#versions h2 {
	font-size: 16px;
}
#wrapper_extensions_upload  ol, #wrapper_extensions_upload  ul {
	list-style: none;
}
h1, h2, h3, h4, h5, h6, legend {
	font-size: 100%;
	line-height: 1.2;
	font-weight: bold;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input[type="text"], input[type="password"], textarea, p, blockquote, table, th, td {
	margin: 0;
	padding: 0;
}
div {
	display: block;
}
h1 {
	font-size: 28px;
	color: #243C53;
	font-family: "Trebuchet MS",sans-serif;
}
h2 {
	font-family: "Trebuchet MS",sans-serif;
}
a {
text-decoration: none;
color: #3280C9;
}
select {
	-webkit-appearance: menulist;
	box-sizing: border-box;
	-webkit-box-align: center;
	border: 1px solid;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	color: black;
	background-color: white;
	cursor: default;
}
input, textarea, keygen, select, button, isindex {
	margin: 0em;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: -webkit-auto;
}
td {
	font: 12px/1.65 Verdana,sans-serif;
}
/* BUTTON */
button,
input[type='submit'] {
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border: 1px solid #aaa;
  color: #444;
  font-size: inherit;
  margin-bottom: 10px;
  margin-right: 15px;
  min-width: 4em;
  padding: 3px 12px 3px 12px;
}

button:hover,
input[type='submit']:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  border-color: #999;
  color: #222;
}

button:active,
input[type='submit']:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
  color: #333;
}

button[disabled],
input[type='submit'][disabled],
button[disabled]:hover,
input[type='submit'][disabled]:hover {
  -webkit-box-shadow: none;
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border-color: #aaa;
  color: #888;
}		

select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sCDwEnBT3jKacAAABaSURBVCjPY2CgA4gC4jQ8OIpokxKBgJmZ+RuQ+R8dg8RB8kQb9v//f4UFCxYsZGNj+4lsEIgPEgfJk+RPdAPJNgjdQD4+vi8UGYRs4Nu3b5soNgjJQFZi1AEAhHNE/wdnPVcAAAAASUVORK5CYII="), -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#field_name {
	margin: 0 0 10px 0;
	width: 300px;
}

.album_name {
	width:  300px;
	display: inline-block;
/*	float: left;*/
}

#wrapper_photo_options {
	display: none;
}

#field_fltag {
	margin-top: 2px; 
	margin-bottom: 2px; 
	height: 22px;
	margin-left: 2px; 
	margin-right: 2px; 
	width: 301px; 
}
.success {
	color: #060;
	padding: 3px 15px 15px 0;
}
#photoHyver img {
border:1px solid #000000;
padding:5px;
}
#notify_message {
	display:none;
	margin:10px;
	width:950px;
}
#notify_message_text {
	color: #D8000C;
	background-color: #FFBABA;
	padding:10px;
}