	body {
        font: 12px/18px "lucida grande",tahoma,verdana,arial,sans-serif;
        color: #FFFFFF;
        margin: 0;
	}
    #content_block {
        float:left;
        margin:0;
        padding:8px;
        border-radius: 5px;
        border: 1px solid #CCC;
		width:16px;	
    }
    .content_text {
        float:left;
    }
    #content_close {
        position: fixed;
        top:9px;
        right:5px;
        display:none;
    }
	.close_icon {
		display: block;
		background-image: url(/img/buttons.png);
		background-repeat: no-repeat;
		width: 16px;
		height: 16px;	
		background-position: -25px 0;
	}